@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Roboto", system-ui, sans-serif;
	}
	body {
		@apply text-slate-900
	}
}

.appbar {
	@apply fixed sm:relative top-0 sm:top-auto left-0 sm:left-auto right-0 sm:right-auto bg-white sm:bg-inherit z-[999] sm:z-auto mx-auto flex flex-1 flex-col justify-between px-5 py-2 gap-1 max-w-7xl sm:px-5 md:flex-row md:h-16 lg:px-8 xl:px-0 xl:w-11/12 2xl:px-0 2xl:w-4/5 shadow-lg md:shadow-none;
}

.step {
	@apply inline-block w-3 h-3 rounded-full m-px bg-white;
	border: 2px solid transparent;
	box-shadow: 0px 0px 0px 1px #9ca3af;
}

.step.passed {
	@apply border-white bg-black;
	box-shadow: 0px 0px 0px 1px black;
}
.step.active {
	@apply border-white bg-cyan-700;
	box-shadow: 0px 0px 0px 1px #0e7490;
}

.dash {
	width: 0.4rem;
	height: 0.05rem;
	margin: 0.1rem;
	border: 0.05rem solid #9ca3af;
	background-color: #9ca3af;
}

.dash.active {
	border: 0.05rem solid black;
	background-color: black;
}

.arrow {
	@apply px-5 py-5 rounded-full duration-300
	hover:bg-white
	active:bg-gray-100
	disabled:opacity-30
	disabled:hover:bg-transparent;
}

.btn {
	@apply text-center border-2 rounded-md inline-block px-3 py-1 cursor-pointer
disabled:bg-white disabled:hover:border-gray-300 disabled:hover:bg-white disabled:active:bg-white
	disabled:cursor-not-allowed disabled:border-gray-300 disabled:text-gray-400;
}

.btn-cyan-base {
	@apply text-white bg-cyan-600 border-cyan-600
	hover:bg-cyan-700 hover:border-cyan-700
	active:bg-cyan-800 active:border-cyan-800
	disabled:bg-gray-300 disabled:hover:bg-gray-300 disabled:active:bg-gray-300	fill-white;
}

.btn-blue-base {
	@apply text-white bg-blue-600 border-blue-600
	hover:bg-blue-700 hover:border-blue-700
	active:bg-blue-800 active:border-blue-800
	disabled:bg-gray-300 disabled:hover:bg-gray-300 disabled:active:bg-gray-300	fill-white;
}

.btn-red-base {
	@apply text-white bg-red-500 border-red-600
	hover:bg-red-700 hover:border-red-700
	active:bg-red-800 active:border-red-800
	disabled:bg-gray-300 disabled:hover:bg-gray-300 disabled:active:bg-gray-300;
}

.btn-gray-red-base {
	@apply text-white bg-gray-500 border-gray-600
	hover:bg-red-700 hover:border-red-700
	active:bg-red-800 active:border-red-800
	disabled:bg-gray-300 disabled:hover:bg-gray-300 disabled:active:bg-gray-300;
}

.btn-start {
	@apply btn-cyan-base rounded-full duration-300 uppercase text-2xl font-medium cursor-pointer;
}

.btn-cyan {
	@apply btn btn-cyan-base;
}

.btn-blue {
	@apply btn btn-blue-base;
}

.btn-gray-red {
	@apply btn btn-gray-red-base;
}

.btn-white {
	@apply btn bg-white text-cyan-600 border-cyan-600
	hover:bg-cyan-50
	active:bg-cyan-200
	fill-cyan-600;
}

.confession-text {
	@apply w-full min-h-[30rem] md:min-h-[23rem] lg:min-h-[18rem] text-xl bg-white rounded-lg sm:mb-0 py-6 px-10 flex flex-col justify-center order-first sm:order-none;
}

.eye {
	@apply absolute right-2 bottom-2 cursor-pointer stroke-2 text-[#3C3C41];
}

.f-screen-appbar {
	min-height: calc(100vh - 11.5rem);
}

.input-base {
	@apply w-full text-sm rounded-md py-2 pl-2 border
	focus:outline-none;
}

.input {
	@apply input-base text-gray-600 placeholder-gray-400 border-gray-200 bg-gray-100
 focus:border-gray-300;
}
.input-blue {
	@apply input-base text-blue-250 placeholder-gray-400 border-blue-250 bg-white
	focus:border-blue-450;
}

.input-invalid {
	@apply input-base text-red-600 border-red-500 bg-red-50
	focus:border-red-700;
}

.layout-appbar {
	@apply flex flex-col gap-7 items-center px-5 f-screen-appbar font-sans sm:justify-center;
}

.layout-empty {
	@apply flex flex-col justify-center font-sans min-h-screen;
}

.layout-step {
	@apply flex flex-col gap-3 items-center f-screen-appbar mx-auto lg:max-w-7xl lg:items-stretch lg:flex-row;
}

.layout-step-col {
	@apply flex flex-col gap-1 lg:gap-5 w-11/12 md:w-full md:px-4 lg:px-0;
}

.password-control {
	background: url(/public/eyeIcon.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(/public/eyeOffIcon.svg) 0 0 no-repeat;
}

.sidebar-link-a {
	@apply flex transition transform px-4 py-3 text-[#3C3C41]
	hover:-translate-x-0.5 hover:text-[#0E7490]
	focus:outline-none;
}

.text-alignment {
	@apply max-w-7xl pb-6 px-6 lg:px-8 bg-white rounded-lg;
}

.markdown-body img {
	display: inline;
	vertical-align: inherit;
}

.markdown-body ol {
	list-style: decimal;
}

.markdown-body ul {
	list-style: inherit;
}

.inactive {
	filter: blur(6px) grayscale(1);
	user-select: none;
	pointer-events: none;
	opacity: 0.5;
}

.adaptive-card {
	height: calc(50vh);
}

@media (min-width: 768px) {
	.adaptive-card {
		height: calc(50vh - 110px);
	}
}

@media (min-width: 1024px) {
	.adaptive-card {
		height: calc(100vh - 230px);
	}
}

.label {
	@apply peer-focus:font-medium absolute text-base text-gray-500 duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8;
}

.input-label {
	@apply block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600;
}

.logo:hover path:nth-child(1) {
	fill:#00A6FB;
}
.logo:hover path:nth-child(2) {
	fill:#003554;
}

.verse-block>div:nth-child(1), .verse-block:hover>div:nth-child(2) {
  @apply flex;
}
.verse-block:hover>div:nth-child(1), .verse-block>div:nth-child(2) {
  @apply hidden;
}

.tab {
	@apply py-2 px-2 text-sm border-x border-t border-slate-600 rounded-t-2xl cursor-pointer
}
.tab-active {
	@apply tab text-white bg-slate-600 cursor-default focus:outline-none
}

.card {
  @apply p-3 sm:p-7 bg-white rounded-2xl border border-gray-350 shadow-md;
}

.btn-base {
  @apply px-5 border rounded-3xl cursor-pointer text-center text-base;
}

.btn-primary {
  @apply btn-base py-2 text-slate-900 border-slate-600 hover:bg-gray-200 hover:border-gray-200 disabled:bg-white disabled:border-gray-300
	disabled:text-gray-400 disabled:cursor-default;
}

.btn-secondary {
  @apply btn-base py-2 text-slate-900 bg-gray-200 hover:bg-white;
}


.btn-red {
  @apply btn-base py-2 text-red-500 border-red-500 hover:bg-red-500 hover:text-white;
}

.first-check path:nth-child(1) {
	@apply fill-emerald-500
}
.second-check path:nth-child(2) {
	@apply fill-teal-500
}
.third-check path:nth-child(3) {
	@apply fill-cyan-700
}

.input-primary {
	@apply p-2 w-full rounded-lg bg-white text-slate-900 border border-slate-900 empty:border-cyan-300 placeholder-cyan-200 focus:border-slate-900 focus:outline-none disabled:border-gray-300 disabled:placeholder-gray-300
}
