@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Roboto", system-ui, sans-serif;
	}
}

.appbar {
	@apply relative mx-auto flex flex-1 flex-col items-center justify-between px-5 py-2 gap-1 max-w-7xl sm:px-5 md:flex-row md:h-16 lg:px-8 xl:px-0 xl:w-11/12 2xl:px-0 2xl:w-4/5;
}

.step {
	@apply inline-block w-3 h-3 rounded-full m-px bg-white;
	border: 2px solid transparent;
	box-shadow: 0px 0px 0px 1px #9ca3af;
}

.step.passed {
	@apply border-white bg-black;
	box-shadow: 0px 0px 0px 1px black;
}
.step.active {
	@apply border-white bg-cyan-700;
	box-shadow: 0px 0px 0px 1px #0e7490;
}

.dash {
	width: 0.4rem;
	height: 0.05rem;
	margin: 0.1rem;
	border: 0.05rem solid #9ca3af;
	background-color: #9ca3af;
}

.dash.active {
	border: 0.05rem solid black;
	background-color: black;
}

.arrow {
	@apply px-5 py-5 rounded-full duration-300
	hover:bg-white
	active:bg-gray-100
	disabled:opacity-30
	disabled:hover:bg-transparent;
}

.btn {
	@apply text-center border-2 rounded-md inline-block px-3 py-1 cursor-pointer
disabled:bg-white disabled:hover:border-gray-300 disabled:hover:bg-white disabled:active:bg-white
	disabled:cursor-not-allowed disabled:border-gray-300 disabled:text-gray-400;
}

.btn-cyan-base {
	@apply text-white bg-cyan-600 border-cyan-600
	hover:bg-cyan-700 hover:border-cyan-700
	active:bg-cyan-800 active:border-cyan-800
	disabled:bg-gray-300 disabled:hover:bg-gray-300 disabled:active:bg-gray-300	fill-white;
}

.btn-blue-base {
	@apply text-white bg-blue-600 border-blue-600
	hover:bg-blue-700 hover:border-blue-700
	active:bg-blue-800 active:border-blue-800
	disabled:bg-gray-300 disabled:hover:bg-gray-300 disabled:active:bg-gray-300	fill-white;
}

.btn-red-base {
	@apply text-white bg-red-500 border-red-600
	hover:bg-red-700 hover:border-red-700
	active:bg-red-800 active:border-red-800
	disabled:bg-gray-300 disabled:hover:bg-gray-300 disabled:active:bg-gray-300;
}

.btn-gray-red-base {
	@apply text-white bg-gray-500 border-gray-600
	hover:bg-red-700 hover:border-red-700
	active:bg-red-800 active:border-red-800
	disabled:bg-gray-300 disabled:hover:bg-gray-300 disabled:active:bg-gray-300;
}

.btn-start {
	@apply btn-cyan-base rounded-full duration-300 uppercase text-2xl font-medium cursor-pointer;
}

.btn-cyan {
	@apply btn btn-cyan-base;
}

.btn-blue {
	@apply btn btn-blue-base;
}

.btn-red {
	@apply btn btn-red-base;
}
.btn-gray-red {
	@apply btn btn-gray-red-base;
}

.btn-white {
	@apply btn bg-white text-cyan-600 border-cyan-600
	hover:bg-cyan-50
	active:bg-cyan-200
	fill-cyan-600;
}

.confession-text {
	@apply w-full min-h-[30rem] md:min-h-[23rem] lg:min-h-[18rem] h4 bg-white rounded-lg sm:mb-0 py-6 px-10 flex flex-col justify-center order-first sm:order-none;
}

.eye {
	@apply absolute right-2 bottom-2 cursor-pointer stroke-2 text-[#3C3C41];
}

.f-screen-appbar {
	min-height: calc(100vh - 11.5rem);
}

.h1 {
	@apply text-4xl text-gray-800;
}
.h2 {
	@apply text-3xl text-gray-800;
}
.h3 {
	@apply text-2xl text-gray-800;
}
.h4 {
	@apply text-xl text-gray-800;
}
.h5 {
	@apply text-base text-gray-800;
}
.h6 {
	@apply text-sm text-gray-800;
}

.input-base {
	@apply w-full text-sm rounded-md py-2 pl-2 border-2
	focus:outline-none;
}

.input {
	@apply input-base text-gray-600 placeholder-gray-400 border-gray-200 bg-gray-100
 focus:border-gray-300;
}

.input-invalid {
	@apply input-base text-red-600 border-red-500 bg-red-50
	focus:border-red-700;
}

.layout-appbar {
	@apply flex flex-col gap-7 items-center px-5 f-screen-appbar font-sans sm:justify-center;
}

.layout-empty {
	@apply flex flex-col justify-center font-sans min-h-screen;
}

.layout-step {
	@apply flex flex-col gap-3 items-center f-screen-appbar mx-auto lg:max-w-7xl lg:items-stretch lg:flex-row;
}

.layout-step-col {
	@apply flex flex-col gap-1 lg:gap-5 w-11/12 md:w-full md:px-4 lg:px-0;
}

.password-control {
	background: url(/public/eyeIcon.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(/public/eyeOffIcon.svg) 0 0 no-repeat;
}

.sidebar-link-a {
	@apply flex transition transform px-4 py-3 text-[#3C3C41]
	hover:-translate-x-0.5 hover:text-[#0E7490]
	focus:outline-none;
}
.sidebar-hr {
	@apply border-b border-[#c4c4c4];
}

.text-alignment {
	@apply max-w-7xl pb-6 px-6 lg:px-8 bg-white rounded-lg;
}

.markdown-body img {
	display: inline;
	vertical-align: inherit;
}

.markdown-body ol {
	list-style: decimal;
}

.markdown-body ul {
	list-style: inherit;
}

.inactive {
	filter: blur(6px) grayscale(1);
	user-select: none;
	pointer-events: none;
	opacity: 0.5;
}

.adaptive-card {
	height: calc(50vh);
}

@media (min-width: 768px) {
	.adaptive-card {
		height: calc(50vh - 110px);
	}
}

@media (min-width: 1024px) {
	.adaptive-card {
		height: calc(100vh - 230px);
	}
}

.label {
	@apply peer-focus:font-medium absolute text-base text-gray-500 duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8;
}

.input-label {
	@apply block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600;
}

.logo:hover path:nth-child(1) {
	fill:#00A6FB;
} 
.logo:hover path:nth-child(2) {
	fill:#003554;
} 
