@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Roboto", system-ui, sans-serif;
	}

	body {
		@apply text-th-primary-text
	} 

	body.no-scrollbar {
		scrollbar-width: none !important;
	}

	body.no-scrollbar::-webkit-scrollbar {
		display: none !important;
	}
	
	* {
		scrollbar-width: thin;
		scrollbar-color: #4D4D4D #DBDBDB;
	}

	*::-webkit-scrollbar {
		width: 7px;
	}

	*::-webkit-scrollbar-track {
		background: #DBDBDB;
		border-radius: 10px;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #4D4D4D;
		border-radius: 10px
	}
}

:root {
  --primary: theme('colors.slate.550');
  --secondary: theme('colors.yellow.600');
  --primary-background: theme('colors.gray.150');
	--primary-hover-background: theme('colors.neutral.400');
	--secondary-background: theme('colors.white');
	--tertiary-background: theme('colors.neutral.100');
	--primary-icons:theme('colors.neutral.800');
	--secondary-icons:theme('colors.white');
	--primary-text:theme('colors.neutral.800');
	--secondary-text:theme('colors.white');
	--disabled-text:theme('colors.neutral.400');
	--additional-text:theme('colors.slate.600');
	--primary-link:theme('colors.slate.600');
	--hover-primary-link:theme('colors.slate.500');
	--disabled-link:theme('colors.neutral.400');
	--primary-border:theme('colors.slate.600');  
	--secondary-border:theme('colors.gray.400');
	--primary-modal-from:	theme('colors.slate.550');
	--primary-modal-to:	theme('colors.slate.560');  
	--primary-btn-background:	theme('colors.gray.250');
	--primary-btn-hover: theme('colors.yellow.600');
	--secondary-btn-background:	theme('colors.yellow.600');
	--secondary-btn-hover: theme('colors.neutral.200');
	--tertiary-btn-background:	theme('colors.gray.450');
	--tertiary-btn-hover: theme('colors.gray.350');
	--quaternary-btn-background:	theme('colors.teal.350');
	--quaternary-btn-hover: theme('colors.teal.200');
	--active-tab-from:	theme('colors.slate.550');
	--active-tab-to:	theme('colors.slate.570');
	--primary-blur-background:	theme('colors.zinc.500');

}

[data-theme='dark'] {
  
}

.appbar {
	@apply fixed sm:relative top-0 sm:top-auto left-0 sm:left-auto right-0 sm:right-auto bg-th-primary sm:bg-inherit z-[999] sm:z-auto mx-auto flex md:items-center flex-1 flex-col justify-between px-5 py-2 gap-1 max-w-7xl sm:px-5 md:flex-row md:h-16 lg:px-8 xl:px-0 xl:w-11/12 2xl:px-0 2xl:w-4/5 shadow-lg md:shadow-none;
}

.arrow {
	@apply px-5 py-5 rounded-full duration-300
	hover:bg-th-secondary-background
	active:bg-th-primary-hover-background
	disabled:opacity-30
	disabled:hover:bg-transparent;
}

.f-screen-appbar {
	min-height: calc(100vh - 11.5rem);
}

.input-base {
	@apply w-full text-sm rounded-md py-2 pl-2 border
	focus:outline-none;
}

.input {
	@apply input-base text-gray-600 placeholder-gray-400 border-gray-200 bg-gray-100
 focus:border-gray-300;
}

.layout-appbar {
	@apply f-screen-appbar flex flex-col gap-5 md:gap-7 items-center px-2 md:px-5 pt-5 md:pt-0 font-sans;
}

.markdown-body img {
	display: inline;
	vertical-align: inherit;
}

.markdown-body ol {
	list-style: decimal;
}

.markdown-body ul {
	list-style: inherit;
}

.adaptive-card {
	height: calc(50vh);
}

@media (min-width: 768px) {
	.adaptive-card {
		height: calc(50vh - 110px);
	}
}

@media (min-width: 1024px) {
	.adaptive-card {
		height: calc(100vh - 230px);
	}
}

.label {
	@apply peer-focus:font-medium absolute text-base text-gray-500 duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8;
}

.input-label {
	@apply block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600;
}

.verse-block>div:nth-child(1), .verse-block:hover>div:nth-child(2) {
  @apply flex;
}
.verse-block:hover>div:nth-child(1), .verse-block>div:nth-child(2) {
  @apply hidden;
}

.tab {
	@apply py-2 px-2 text-sm border-x border-t border-th-primary rounded-t-2xl 
}
.tab-active {
	@apply tab text-th-secondary-text bg-gradient-to-b from-th-active-tab-from to-th-active-tab-to cursor-default focus:outline-none shadow
}

.tab-inactive {
	@apply tab bg-th-secondary-background hover:bg-gradient-to-b hover:from-th-secondary-background hover:to-th-primary-hover-background cursor-pointer
}
.card {
  @apply p-3 sm:py-5 sm:px-8 rounded-2xl border border-th-secondary-border shadow-md;
}

@screen sm {
  .card-md {
	 @apply p-3 sm:py-5 sm:px-8 rounded-2xl border border-th-secondary-border shadow-md;
}
}

.btn-base {
  @apply px-5 py-2 rounded-3xl cursor-pointer text-center text-sm md:text-base;
}

.btn-primary {
  @apply btn-base border text-th-primary-text border-th-secondary-border bg-th-primary-btn-background hover:bg-th-primary-btn-hover hover:border-th-primary-btn-hover hover:text-th-secondary-text disabled:hover:bg-th-primary-btn-background  disabled:border-th-secondary-text 
	disabled:text-th-secondary-text disabled:cursor-default;
}

.btn-secondary {
  @apply btn-base text-th-secondary-text bg-th-secondary;
}

.btn-tertiary {
	@apply mb-4 right-0 bg-th-tertiary-btn-background text-th-secondary-text  font-bold rounded-xl cursor-pointer hover:bg-th-tertiary-btn-hover
}

.btn-red {
  @apply btn-base text-red-500 border-red-500 hover:bg-red-500 hover:text-white;
}

.first-check path:nth-child(1) {
	@apply fill-emerald-500
}

.second-check path:nth-child(2) {
	@apply fill-teal-500
}

.third-check path:nth-child(3) {
	@apply fill-cyan-700
}

.input-primary {
	@apply px-4 py-2 w-full rounded-lg text-slate-900 border border-slate-900 placeholder-cyan-200 focus:border-slate-900 focus:outline-none disabled:border-gray-300 placeholder-shown:border-cyan-300 disabled:placeholder-gray-300
}

.input-invalid {
	@apply p-2 w-full rounded-lg bg-white text-red-600 border border-red-500 placeholder-cyan-200 focus:border-red-700 focus:outline-none disabled:border-gray-300 placeholder-shown:border-cyan-300 disabled:placeholder-gray-300;
}

