@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-start{
	@apply rounded-full py-3 px-24 uppercase text-2xl leading-7 font-medium cursor-pointer tracking-wider bg-emerald-500 text-white 
	hover:bg-emerald-600 duration-300
	active:bg-emerald-700 inline-block
}
.btn-transparent{
	@apply border-2 p-1 rounded-md text-teal-500 border-teal-500
	hover:bg-teal-100 duration-300
	active:bg-teal-200 inline-block
	disabled:border-2 disabled:rounded-md disabled:bg-transparent disabled:text-slate-400 disabled:border-slate-200 
	}
.btn-filled{
	@apply rounded-md p-1 bg-teal-500 text-white 
	hover:bg-teal-600 duration-300
	active:bg-teal-700 inline-block
	disabled:bg-transparent disabled:border-2 disabled:rounded-md disabled:text-slate-400 

}
/* layoutType */
.LTEmpty{
	@apply flex justify-center font-sans mx-auto relative px-3 min-h-screen flex-col
}
.LTAppbar{
	@apply flex justify-center f-screen-appbar items-center font-sans 
}
.LTFull{
	@apply flex justify-center f-screen-full items-center font-sans 
}
.text-alignment{
	@apply max-w-7xl px-4 sm:px-6 lg:pr-48 
}
.form{
	@apply w-full text-sm leading-6 rounded-md py-2 pl-2 ring-1 shadow-sm text-slate-600 placeholder-slate-400  ring-slate-200  bg-slate-100 
	focus:ring-2 focus:outline-none focus:ring-slate-300
}
.form-invalid{
	@apply w-full text-sm leading-6 rounded-md py-2 pl-2 border-2 shadow-sm text-red-600 ring-red-600 border-red-600 bg-red-100 
	focus:ring-1 focus:outline-none  
}
.form-valid{
	@apply w-full text-sm leading-6 rounded-md py-2 pl-2 border-2  shadow-sm text-slate-600 ring-green-600 border-green-600 bg-teal-100  
	focus:ring-1 focus:outline-none focus:ring-green-600   
}
.h1{
	@apply text-4xl text-slate-600
}
.h2{
	@apply text-2xl text-slate-600
}
.h3{
	@apply text-lg text-slate-600

}
.h4{
	@apply text-base text-slate-600

}
.h5{
	@apply text-sm text-slate-600

}
.h6{
	@apply text-xs text-slate-600

}
.f-screen-appbar{
	min-height: calc(100vh - 11.5rem);
}
.f-screen-full{
	min-height: calc(100vh - 23rem);
}

.sidebar-link-a {
	@apply flex transition transform hover:-translate-x-0.5 px-4 py-3 focus:outline-none hover:text-[#0E7490] text-[#3C3C41]
} 
.sidebar-hr {
	@apply border-b border-[#c4c4c4]
}
.sidebar-absolute {
	@apply absolute font-medium left-0 top-0 right-0 bottom-0
}

.password-control {
		background: url(/public/eyeIcon.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(/public/eyeOffIcon.svg) 0 0 no-repeat;
}
